#app {
    width: 100vw;
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 40px;
    cursor: url(https://cdn.custom-cursor.com/db/8118/32/material-maki-cursor.png) 1 1, auto !important;
    position: relative;
}

#app::before {
    content: " ";
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #f7d797, #ebf7ee);
}

#app a,
#app button {
    cursor: url(https://cdn.custom-cursor.com/db/8117/32/material-maki-pointer.png) 1 1, auto !important;
}